.questions__list {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title__list {
    padding: 1.6rem 0 0.5rem 0;
    border-bottom: 1px solid var(--gray);
    font-size: 2.4rem ;
}

.content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;    
}

.card {
    width: 210px;
    padding: 0.3rem;
    background: var(--button-color);
}

.card__content {
    background: var(--background);
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
   }

   .status {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
   }

   .title__question-list {
    font-size: 2.2rem;
    text-align: center;
   }

   .delete__update {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
   }

   .delete, .update {
    cursor: pointer;
   }

   .oculto {
    padding: 0.8em 1.8em;
    border: 2px solid var(--gray);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--gray);
    cursor: default;
   }

@media screen and (min-width: 1366px) {
   
    .card {
      width: 260px;
    }
    .content__list {
        gap: 2rem;    
    }
    .card__content {
        padding: 2rem;
        gap: 2rem;
       }
  }
  
  @media screen and (min-width: 1920px) {
    .card {
        width: 310px;
      }
      .content__list {
          gap: 3rem;    
      }
    
  }
