
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--background);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --button-color: #17C3B2;
  --background: #0f1722;
  --gray: #686565;
  --red: #bd0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn {
  padding: 0.8em 1.8em;
  border: 2px solid var(--button-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
  cursor: pointer;
 }
   
 .btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .btn:hover::before {
  width: 105%;
 }
 
 .btn:hover {
  color: #111;
 }

a {
  color: #1972A8;
  text-decoration: none;
}

.success {
  font-size: 2.2rem;
  color: var(--button-color);
  text-align: center;
}

.error {
  font-size: 2.2rem;
  color: var(--red);
  text-align: center;
}

